 .container {
   width: 300px;
   background: #313a48;
   padding: .4rem .4rem 4rem;
   border-radius: .4rem;
   text-align: center;
   position: relative;
   align-items: center;
 }

 .container:hover {
    border: .5px solid purple;
 }

 img {
     cursor: pointer;
     position: absolute;
     display: block;
     width: 100%; 
     right: 7.2rem;
     bottom: -1.7rem;
     width: 60px;
     transition: ease-in 0.4s, box-shadow 0.3s;
 }
 
 h4 {
    color:#53ffaa;
    text-transform: uppercase;
 }
 .advice-id {
    color: #53ffaa ;
    font-size:.7rem ;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 200;
    font-family: 'Lato';
 }

 .num {
    padding-left: .2rem;
 }

 .advice {
    font-size: 1.1rem;
    color: #cee3e9;
 }

 .border-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .border {
    height: .1rem; 
}
.bar {
    position: absolute;
    width: 12px;
    right: 8.7rem;
    bottom:3.8rem ;
}
.border {
    width: 120px;
    background-color: #4f5d7a;
    margin-right: 10px;
}